# Chapter 2 Assignment

# Janelle Souvane

In [3]:
!pip install pandas
import pandas as pd

Requirement already satisfied: pandas in c:\users\janel\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\janel\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\janel\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\janel\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\janel\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\janel\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [5]:
df = pd.read_csv('ramen-ratings.csv')
df.head()

,Brand,Variety,Style,Country,Stars
0,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75
1,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1.00
2,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25
3,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75
4,Ching's Secret,Singapore Curry,Pack,India,3.75

In [100]:
df_first_5 = df.head(5)
print(df_first_5)

            Brand                                            Variety Style  \
0       New Touch                          T's Restaurant Tantanmen    Cup
1        Just Way  Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...  Pack
2          Nissin                      Cup Noodles Chicken Vegetable   Cup
3         Wei Lih                      GGE Ramen Snack Tomato Flavor  Pack
4  Ching's Secret                                    Singapore Curry  Pack

  Country  Stars
0   Japan   3.75
1  Taiwan   1.00
2     USA   2.25
3  Taiwan   2.75
4   India   3.75

In [104]:
df_last_5 = df.tail(5)
print(df_last_5)

         Brand                                            Variety Style  \
2572     Vifon  Hu Tiu Nam Vang ["Phnom Penh" style] Asian Sty...  Bowl
2573   Wai Wai                     Oriental Style Instant Noodles  Pack
2574   Wai Wai                                     Tom Yum Shrimp  Pack
2575   Wai Wai                               Tom Yum Chili Flavor  Pack
2576  Westbrae                                         Miso Ramen  Pack

       Country  Stars
2572   Vietnam    3.5
2573  Thailand    1.0
2574  Thailand    2.0
2575  Thailand    2.0
2576       USA    0.5

In [106]:
df_statistics = df.describe()
print(df_statistics)

             Stars
count  2577.000000
mean      3.654676
std       1.015331
min       0.000000
25%       3.250000
50%       3.750000
75%       4.250000
max       5.000000

In [146]:
for col in df:
    print(df[col].unique())

['New Touch' 'Just Way' 'Nissin' 'Wei Lih' "Ching's Secret"
 'Samyang Foods' 'Acecook' 'Ikeda Shoku' "Ripe'n'Dry" 'KOKA' 'Tao Kae Noi'
 'Yamachan' 'Nongshim' 'TRDP' 'Binh Tay' 'Paldo' 'Jackpot Teriyaki'
 'Yum-Mie' 'MyKuali' 'Sichuan Guangyou' 'Lipton' 'Lele' 'Fujiwara'
 'Uni-President' 'Ottogi' 'Maruchan' 'Prima' 'Sokensha' 'Takamori'
 'Guava Story' 'Samurai Ramen' 'Ogasawara' 'Pringles' "Mom's Dry Noodle"
 'Maggi' 'Indomie' 'Happy Cook' 'The Ramen Rater Select' 'TTL' 'E-Zee'
 'Kiki Noodle' 'Tokyo Noodle' 'GGE' 'Myojo' 'Sau Tao' 'Wang' 'Daifuku'
 'Master Kong' "World O' Noodle" 'Kang Shi Fu' 'Mum Ngon' 'Fashion Food'
 'Dream Kitchen' 'Ajinatori' "Dr. McDougall's" 'Ve Wong' 'Super Bihun'
 'Xiuhe' 'Little Cook' 'Shirakiku' "Mama Pat's" 'Goku-Uma'
 'Sichuan Baijia' 'Liang Cheng Mai' 'Gefen' 'Hua Feng' 'Pulmuone'
 'Liu Quan' 'Daikoku' 'Chuan Wei Wang' 'Wai Wai' 'Kamfen' 'Marutai'
 'Vifon' '1 To 3 Noodles' 'Fantastic' 'Knorr' 'Sempio' 'Patanjali'
 'Qin Zong' 'Pran' 'Sapporo Ichiban' 'MAMA' 'Xiao Ban Mian' 'Suimin'
 'Cintan' 'JML' 'Unif Tung-I' 'Tablemark' "Farmer's Heart" 'Fuku'
 'Singa-Me' 'Love Cook' 'Great Value' 'Asian Thai Foods' 'Nagatanien'
 'Nyor Nyar' 'Tseng Noodles' 'A-Sha Dry Noodle' 'Morre' 'Roland'
 "Mr. Lee's Noodles" 'Choumama' 'President Rice' 'Happy Family' 'Menraku'
 'La Moderna' 'Jingqi' 'Thien Houng Foods' 'Doll' 'Four Seas' 'CarJEN'
 '7 Select' 'Oni Hot Pot' 'Weh Lih' 'Itomen' 'Sanpo' 'Mi Sedaap'
 'Tokushima Seifun' 'Mamee' 'Zow Zow' 'Koyo' 'ORee Garden' 'A1' 'Migawon'
 "Chaudhary's Wai Wai" 'Urban Noodle' 'Trident' 'Conimex' 'Prima Taste'
 'MyOri' 'Itsuki' 'Kabuto Noodles' 'IbuRamen' 'Koh Thai' 'Bamee' 'Ibumie'
 'Unox' 'Fortune' 'Bonasia' 'Mie Sedaap' 'iMee' 'Thai Smile' 'Asia Gold'
 'Pirkka' 'Higashimaru' 'Kuriki' 'Vedan' 'Yum Yum' 'Mama' 'Baijia' 'Daraz'
 'Pama' 'Seven & I' 'Forest Noodles' "Vit's" 'Ten-In' 'Sugakiya Foods'
 'Hao Way' 'Nakaya Shouten' 'Thai Chef' 'Crystal Noodle' 'Azami' 'Super'
 'Torishi' 'Western Family' 'Chering Chang' 'Ishimaru'
 'Authentically Asian' 'Aroi' 'Koka' 'Wu-Mu' 'Yamadai' 'Vina Acecook'
 'Baixiang Noodles' 'Salam Mie' 'Lee Fah Mee' 'Sakurai Foods'
 'The Kitchen Food' 'Premiere' '7 Select/Nissin' 'Wugudaochang' 'Emart'
 'Lishan Food Manufacturing' 'Ah Lai' 'Tropicana Slim' 'A-One' 'Deshome'
 'Paldo Vina' 'Chencun' 'United' 'ChoripDong' 'Shan' 'Ruski' 'No Name'
 'New Way' 'Lucky Me!' "Campbell's" 'One Dish Asia' 'Long Jun Hang'
 'Unif-100' 'Hankow' 'The Bridge' 'Mitoku' 'Unzen' 'Uncle Sun' 'Mi E-Zee'
 'E-mi' 'J.J.' 'Curry Prince' 'Econsave' 'Oyatsu' 'Kin-Dee' 'Ko-Lee' 'ICA'
 'Nanyang Chef' 'Thai Pavilion' 'Miliket' 'Katoz' 'Men-Sunaoshi' 'Chewy'
 'Adabi' 'Osaka Ramen' "Sainsbury's" 'Pamana' "Annie Chun's" 'La Fonte'
 'Thai Choice' 'Tesco' 'Pop Bihun' 'Snapdragon' 'Saji' 'Miracle Noodle'
 'Tiger Tiger' 'Takamori Kosan' 'Papa' 'Sawadee' 'Golden Wheat'
 'Lotus Foods' 'Plats Du Chef' 'Batchelors' 'Sakura Noodle' 'Unif'
 'Hi-Myon' 'Healtimie' 'Thai Kitchen' 'Mr. Noodles' 'Good Tto Leu Foods'
 'GaGa' 'Kimura' 'Tokachimen Koubou' 'ABC' 'Eat & Go' 'President'
 'SuperMi' 'Kumamoto' 'HoMyeonDang' 'Nan Jie Cun' 'China Best' 'Sanrio'
 'Peyang' 'Golden Wonder' 'Komforte Chockolates' 'Nagao Noodle' 'Maitri'
 'GS25' 'Baltix' 'Amianda' 'Tasty Bite' 'Star Anise Foods' 'Tradition'
 'Amino' 'Pot Noodle' 'Sun Noodle' 'S&S' 'Springlife' 'Right Foods'
 'Sunlee' 'Goku Uma' 'Daddy' "Han's South Korea" 'Sarimi' 'FMF' 'Long Kow'
 'Unif / Tung-I' 'Song Hak' 'Fuji Mengyo' 'Dragonfly' 'CJ CheilJedang'
 'Dongwon' 'Seven-Eleven' 'Souper' "Kim's Bowl" 'Ohsung' 'Gau Do'
 'Golden Mie' 'GreeNoodle' 'Kailo' 'Fashion Foods' 'Hosoonyi' 'Payless'
 'Yamamoto' 'Saigon Ve Wong' 'Wu Mu' 'Mee Jang' 'JFC' 'Samyang' 'Mug Shot'
 'Lishan' 'Cap Atoom Bulan' 'Sura' 'Wei Chuan' 'Yamamori' 'Mr. Udon'
 'Omachi' 'Wei Wei' 'Six Fortune' 'Haioreum' 'Sunlight' 'Noah Foods'
 'O Sung' 'Foodmon' 'Sahmyook' 'Nan Hsing' 'Mexi-Ramen' 'Hsin Tung Yang'
 'Sao Tao' 'iNoodle' 'Quickchow' 'Chikara' 'Q' 'Noodle Time' 'Gomex'
 'US Canning' 'Rhee Bros Assi' 'Bon Go Jang' 'Tayho' 'Sunny Maid'
 'Royal Umbrella' 'Tiger' 'Fu Chang Chinese Noodle Company' 'Sanyo Foods'
 'Rocket Brand' 'Boss' 'Chorip Dong' 'Higashi' 'Sakurai'
 'Global Inspiration' 'Teriyaki Time' 'Hua Feng Noodle Expert'
 'Kim Ve Wong' 'Smack' 'Sutah' 'Tung-I' 'Westbrae']
["T's Restaurant Tantanmen "
 'Noodles Spicy Hot Sesame Spicy Hot Sesame Guan-miao Noodles'
 'Cup Noodles Chicken Vegetable' ...
 'Hu Tiu Nam Vang ["Phnom Penh" style] Asian Style Instant\xa0Rice\xa0Noodles'
 'Oriental Style Instant Noodles' 'Tom Yum Chili Flavor']
['Cup' 'Pack' 'Tray' 'Bowl' 'Box' 'Can' 'Bar' nan]
['Japan' 'Taiwan' 'USA' 'India' 'South Korea' 'Singapore' 'Thailand'
 'Hong Kong' 'Vietnam' 'Ghana' 'Malaysia' 'Indonesia' 'China' 'Nigeria'
 'Germany' 'Hungary' 'Mexico' 'Fiji' 'Australia' 'Pakistan' 'Bangladesh'
 'Canada' 'Nepal' 'Brazil' 'UK' 'Myanmar' 'Netherlands' 'United States'
 'Cambodia' 'Finland' 'Sarawak' 'Philippines' 'Sweden' 'Colombia'
 'Estonia' 'Holland' 'Poland' 'Dubai']
[3.75  1.    2.25  2.75  4.75  4.    0.25  2.5   5.    4.25  4.5   3.5
 1.5   3.25  2.    0.    3.    0.5   3.8   4.3   2.3   3.3   1.75  0.75
 1.25  1.1   2.1   0.9   3.1   4.125 3.125 2.125 2.9   0.1   2.8   3.7
 3.4   3.6   2.85  3.2   3.65  1.8  ]

In [152]:
df_vietnam = df.query('Country == "Vietnam"')
print(df_vietnam)

              Brand                                            Variety Style  \
18         Binh Tay                                         Mi Hai Cua  Pack
52    Uni-President                                    Mushroom Flavor  Pack
143        Mum Ngon                                   Lau Tom Chua Cay  Pack
224           Vifon  Viet Cuisine Bun Rieu Cua Sour Crab Soup Insta...  Bowl
365         Acecook                             Oh! Ricey Pork Flavour  Pack
...             ...                                                ...   ...
2486       Binh Tay                                   Mi Chay Mushroom  Pack
2535        Ve Wong                             Kung-Fu Chicken Flavor  Pack
2570        Ve Wong                                      Mushroom Pork  Pack
2571          Vifon                                           Nam Vang  Pack
2572          Vifon  Hu Tiu Nam Vang ["Phnom Penh" style] Asian Sty...  Bowl

      Country  Stars
18    Vietnam   4.00
52    Vietnam   0.00
143   Vietnam   3.50
224   Vietnam   5.00
365   Vietnam   4.00
...       ...    ...
2486  Vietnam   2.75
2535  Vietnam   2.75
2570  Vietnam   1.00
2571  Vietnam   2.50
2572  Vietnam   3.50

[108 rows x 5 columns]

In [170]:
df[["Brand", "Style"]]

               Brand Style
0          New Touch   Cup
1           Just Way  Pack
2             Nissin   Cup
3            Wei Lih  Pack
4     Ching's Secret  Pack
...              ...   ...
2572           Vifon  Bowl
2573         Wai Wai  Pack
2574         Wai Wai  Pack
2575         Wai Wai  Pack
2576        Westbrae  Pack

[2577 rows x 2 columns]

In [182]:
df['Country']

0          Japan
1         Taiwan
2            USA
3         Taiwan
4          India
          ...
2572     Vietnam
2573    Thailand
2574    Thailand
2575    Thailand
2576         USA
Name: Country, Length: 2577, dtype: object

In [188]:
df.sort_values(by='Stars', ascending=False)

,Brand,Variety,Style,Country,Stars
1585,Prima Taste,Singapore Laksa La Mian,Pack,Singapore,5.0
446,Maruchan,Instant Lunch Chipotle Chicken Flavor Ramen No...,Cup,USA,5.0
484,Nongshim,Champong Noodle Soup Spicy Seafood Flavor,Pack,South Korea,5.0
483,Nissin,Straits Kitchen Laksa,Pack,Singapore,5.0
1613,Nissin,Raoh Backfat Rich Soy Sauce Flavor,Bowl,Japan,5.0
...,...,...,...,...,...
522,Koyo,Garlic Pepper Reduced Sodium Ramen,Pack,USA,0.0
561,Samyang Foods,Honey & Cheese Big Bowl,Bowl,South Korea,0.0
950,Azami,Kimchee Noodle Soup,Cup,Canada,0.0
2079,Hsin Tung Yang,Tiny Noodle With Oyster Flavor,Pack,Taiwan,0.0
52,Uni-President,Mushroom Flavor,Pack,Vietnam,0.0

In [220]:
df['Country'].str.replace('USA', 'United States')

0               Japan
1              Taiwan
2       United States
3              Taiwan
4               India
            ...
2572          Vietnam
2573         Thailand
2574         Thailand
2575         Thailand
2576    United States
Name: Country, Length: 2577, dtype: object

In [222]:
df_first_5 = df.head(5)
print(df_first_5)

            Brand                                            Variety Style  \
0       New Touch                          T's Restaurant Tantanmen    Cup
1        Just Way  Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...  Pack
2          Nissin                      Cup Noodles Chicken Vegetable   Cup
3         Wei Lih                      GGE Ramen Snack Tomato Flavor  Pack
4  Ching's Secret                                    Singapore Curry  Pack

         Country  Stars
0          Japan   3.75
1         Taiwan   1.00
2  United States   2.25
3         Taiwan   2.75
4          India   3.75

In [272]:
df[['Country']].count()

Country    2577
dtype: int64

In [274]:
df['Country'].value_counts()

Country
Japan            352
United States    324
South Korea      307
Taiwan           224
Thailand         191
China            169
Malaysia         155
Hong Kong        137
Indonesia        126
Singapore        109
Vietnam          108
UK                69
Philippines       47
Canada            41
India             31
Germany           27
Mexico            25
Australia         22
Netherlands       15
Nepal             14
Myanmar           14
Hungary            9
Pakistan           9
Bangladesh         7
Colombia           6
Cambodia           5
Brazil             5
Poland             4
Holland            4
Fiji               4
Sweden             3
Sarawak            3
Finland            3
Dubai              3
Ghana              2
Estonia            2
Nigeria            1
Name: count, dtype: int64

In [469]:
df = pd.DataFrame_long(
    .groupby('Stars').agg(np.mean) 
    .sort_values(by='Country', ascending=False)
     )
    head(df, 3)

SyntaxError: invalid syntax (4013788972.py, line 2)

In [453]:
df = pd.DataFrame_long(
    .groupby('Stars').agg(pd.mean) 
    .sort_values(by='Country', ascending=[False])
     )
    tail(df, 3)

SyntaxError: invalid syntax (3133028175.py, line 2)

In [1]:
df = pd.DataFrame_long(
    .groupby('Stars').agg(pd.mean) 
    .sort_values(by='Country', ascending=[False])
     )
    tail(df, 3)
%%time

SyntaxError: invalid syntax (1071701395.py, line 2)